#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button {
  background-color: #00bfff;
  color: white;
  height: 40px;
  border: 1px solid;
  cursor: pointer;
  border-radius: 3px;
}

table {
  border-top: 1px solid black;
  border-collapse: collapse;
}
.second {
  background-color: #00bfff;
  color: white;
  height: 30px;
}
table tr th {
  text-align: start;
}
td {
  padding: 5px;
}
tr {
  border-bottom: 1px solid black;
}
